.App {
  text-align: center;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width:600px){
  .App {
    width: 90%;
    overflow-x: scroll;
}
}


.MuiTableRow-root > td {
  width: 180px !important;
}
